@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------------*/
.header-block {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5; }

.header-top-block {
  height: 45px;
  border-bottom: 1px solid #BBBDBF;
  background: #232425; }
  .header-top-block .header-top {
    height: 45px;
    padding: 5px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header-top-block .header-top .menu-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-transform: uppercase; }
      .header-top-block .header-top .menu-list .menu__item {
        display: block;
        position: relative;
        margin-right: 15px;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        z-index: 3; }
        .header-top-block .header-top .menu-list .menu__item .burger-strel {
          display: none;
          width: 32px;
          height: 32px;
          background: #4C4C4E;
          border-radius: 5px; }
        .header-top-block .header-top .menu-list .menu__item .menu__item-title {
          height: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          color: #B0B2B4;
          font-weight: 700;
          font-size: 14px;
          cursor: pointer; }
        .header-top-block .header-top .menu-list .menu__item .menu__item-title:hover {
          color: #ffffff; }
      .header-top-block .header-top .menu-list .top__item {
        position: absolute;
        top: 110%;
        display: none;
        white-space: nowrap;
        z-index: 2;
        padding: 5px 10px 10px 10px;
        margin-left: -20px;
        background: #232425; }
        .header-top-block .header-top .menu-list .top__item .top_text {
          padding: 10px 10px;
          background: #232425;
          color: #B0B2B4;
          font-weight: 700;
          font-size: 14px;
          border-radius: 5px;
          cursor: pointer; }
        .header-top-block .header-top .menu-list .top__item .top_text:hover {
          background: #bbbdbf3d;
          color: white; }
      .header-top-block .header-top .menu-list .menu__item.active .top__item {
        display: block; }
    .header-top-block .header-top .header-burger {
      position: relative;
      display: none;
      height: 16px;
      width: 25px;
      z-index: 100; }
    .header-top-block .header-top .header-burger:before,
    .header-top-block .header-top .header-burger:after,
    .header-top-block .header-top .header-burger span {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      background: #fff;
      border-radius: 10px; }
    .header-top-block .header-top .header-burger:before {
      top: 0; }
    .header-top-block .header-top .header-burger:after {
      top: 7px; }
    .header-top-block .header-top .header-burger span {
      bottom: 0; }
    @media (max-width: 1000px) {
      .header-top-block .header-top .header-burger {
        display: block; } }
    .header-top-block .header-top .logo-top .logo img {
      width: 110px; }
    .header-top-block .header-top .profile {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 35px; }
      .header-top-block .header-top .profile .profile-item {
        height: 100%;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border: 1px solid #00C36B;
        border-radius: 3px;
        padding: 0 30px;
        font-weight: 700;
        font-size: 15px;
        -webkit-transition: all 0.2s linear 0s;
        -o-transition: all 0.2s linear 0s;
        transition: all 0.2s linear 0s;
        cursor: pointer; }
        .header-top-block .header-top .profile .profile-item img {
          display: none; }
      .header-top-block .header-top .profile .log {
        color: #00C36B; }
      .header-top-block .header-top .profile .log:hover {
        background: #00c36b4b; }
      .header-top-block .header-top .profile .reg {
        margin-left: 25px;
        background-color: #00C36B;
        color: #1B1B1B; }
      .header-top-block .header-top .profile .reg:hover {
        background: #00c36bd0; }
    .header-top-block .header-top .actions-top {
      display: none;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .header-top-block .header-top .actions-top .profile-bottom {
        display: inline-block; }
        .header-top-block .header-top .actions-top .profile-bottom .profile {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          height: 30px;
          margin-right: 5px;
          font-size: 0 !important; }
          .header-top-block .header-top .actions-top .profile-bottom .profile .profile-item {
            height: 100%;
            width: 30px;
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            border: 1px solid #00C36B;
            border-radius: 3px;
            padding: 0 0;
            -webkit-transition: all 0.2s linear 0s;
            -o-transition: all 0.2s linear 0s;
            transition: all 0.2s linear 0s;
            cursor: pointer; }
            .header-top-block .header-top .actions-top .profile-bottom .profile .profile-item img {
              display: block; }
          .header-top-block .header-top .actions-top .profile-bottom .profile .log {
            color: #00C36B;
            background: #232425;
            font-size: 0 !important; }
          .header-top-block .header-top .actions-top .profile-bottom .profile .reg {
            margin-left: 5px;
            background-color: transparent;
            color: #1B1B1B;
            font-size: 0 !important; }
      .header-top-block .header-top .actions-top .lang {
        position: relative;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 30px;
        height: 30px;
        margin-left: 0;
        border: 1px solid #4C4C4E;
        border-radius: 5px; }
        .header-top-block .header-top .actions-top .lang .flag {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          height: 100%;
          width: 100%;
          border-radius: 16px;
          cursor: pointer; }
          .header-top-block .header-top .actions-top .lang .flag img {
            display: none;
            height: 100%;
            border-radius: 50%;
            width: 32px; }
          .header-top-block .header-top .actions-top .lang .flag .act-text {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-flex: 1;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            color: #FEFEFE;
            font-weight: 700;
            font-size: 12px; }
            .header-top-block .header-top .actions-top .lang .flag .act-text .strel {
              display: none; }
            .header-top-block .header-top .actions-top .lang .flag .act-text .strel.active {
              display: none;
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg);
              -webkit-transition: all 0.2s linear 0s;
              -o-transition: all 0.2s linear 0s;
              transition: all 0.2s linear 0s; }
        .header-top-block .header-top .actions-top .lang .flag-menu {
          display: none;
          position: absolute;
          top: 36px;
          left: -70px;
          width: 100px;
          margin-bottom: -30px;
          z-index: 2;
          background: #1B1B1B;
          -webkit-box-shadow: 0 0 20px black;
          box-shadow: 0 0 20px black; }
          .header-top-block .header-top .actions-top .lang .flag-menu .flag__item {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            margin: 20px 12px;
            width: 100%;
            cursor: pointer; }
            .header-top-block .header-top .actions-top .lang .flag-menu .flag__item img {
              height: 28px;
              width: 28px;
              border-radius: 50%;
              margin-right: 18px; }
            .header-top-block .header-top .actions-top .lang .flag-menu .flag__item .flag-text {
              color: #E7E7E7; }
    @media (max-width: 1000px) {
      .header-top-block .header-top .actions-top {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }
  @media (max-width: 1000px) {
    .header-top-block .menu-list {
      height: 100vh;
      overflow-y: auto;
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
      justify-content: flex-start !important;
      position: absolute;
      top: 45px;
      left: -340px;
      width: 340px;
      background: #1B1B1B;
      border-right: 1px solid white;
      z-index: 3;
      -webkit-transition: all 0.3s ease-in-out 0s;
      -o-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
      opacity: 0; }
      .header-top-block .menu-list .menu__item {
        position: static;
        margin-right: 0 !important;
        margin: 5px 0;
        height: auto !important;
        display: block !important;
        padding: 5px 0;
        width: 240px; }
        .header-top-block .menu-list .menu__item .menu__item-title {
          height: auto !important;
          display: -webkit-inline-box;
          display: -ms-inline-flexbox;
          display: inline-flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          width: 100%;
          color: #fff !important;
          font-weight: 700;
          font-size: 16px !important;
          border-bottom: 1px solid rgba(255, 255, 255, 0.623);
          padding: 5px 0;
          cursor: pointer; }
          .header-top-block .menu-list .menu__item .menu__item-title .burger-strel {
            width: 32px;
            height: 32px;
            display: -webkit-box !important;
            display: -ms-flexbox !important;
            display: flex !important;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            background: #4C4C4E; }
            .header-top-block .menu-list .menu__item .menu__item-title .burger-strel .strel {
              width: 6px;
              height: 6px;
              border-top: 2px solid white;
              border-left: 2px solid white;
              -webkit-transform: rotate(-135deg);
              -ms-transform: rotate(-135deg);
              transform: rotate(-135deg);
              -webkit-transition: all 0.2s linear 0s;
              -o-transition: all 0.2s linear 0s;
              transition: all 0.2s linear 0s; }
        .header-top-block .menu-list .menu__item .menu__item-title.active .strel {
          display: block;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
          -webkit-transition: all 0.2s linear 0s;
          -o-transition: all 0.2s linear 0s;
          transition: all 0.2s linear 0s; }
        .header-top-block .menu-list .menu__item .menu__item-title:hover {
          color: #ffffff; }
        .header-top-block .menu-list .menu__item .top__item {
          position: static;
          display: none !important;
          white-space: normal !important;
          height: 0 !important;
          position: static !important;
          line-height: 18px;
          z-index: 2;
          padding: 0;
          margin-left: 0 !important;
          background: transparent !important;
          overflow: hidden !important;
          -webkit-transition: all 1s linear 0s;
          -o-transition: all 1s linear 0s;
          transition: all 1s linear 0s;
          height: 0; }
          .header-top-block .menu-list .menu__item .top__item .top_text {
            padding: 10px 0 !important;
            background: transparent !important;
            color: #B0B2B4;
            font-weight: 700;
            font-size: 14px;
            border-radius: 5px;
            cursor: pointer; }
          .header-top-block .menu-list .menu__item .top__item .top_text:hover {
            background: #bbbdbf3d; }
      .header-top-block .menu-list .top__item.active {
        display: block !important;
        height: auto !important; }
    .header-top-block .menu-list.active {
      left: 0;
      opacity: 1; } }
  @media (max-width: 400px) {
    .header-top-block .menu-list {
      left: -340px;
      width: 100%; }
      .header-top-block .menu-list .menu__item {
        width: 240px; } }

.header-top-block.active {
  border-bottom: 3px solid #fff; }

@media (max-width: 1000px) {
  .header-top-block {
    border-bottom: none;
    background: #1B1B1B; } }

.header-bottom-block {
  background: #1B1B1B; }
  .header-bottom-block .header-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 0;
    padding: 15px 0; }
    .header-bottom-block .header-bottom .logo {
      margin-right: 20px; }
    .header-bottom-block .header-bottom .span {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-right: 25px;
      color: #FAFAFA;
      font-weight: 700;
      font-size: 13px; }
    @media (max-width: 1000px) {
      .header-bottom-block .header-bottom .span {
        display: none; } }
    .header-bottom-block .header-bottom .lang {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: 90px;
      height: 36px;
      margin-left: 10px;
      border: 1px solid #4C4C4E;
      border-radius: 50px; }
      .header-bottom-block .header-bottom .lang .flag {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100%;
        width: 100%;
        border-radius: 16px;
        cursor: pointer; }
        .header-bottom-block .header-bottom .lang .flag img {
          height: 100%;
          border-radius: 50%;
          width: 32px; }
        .header-bottom-block .header-bottom .lang .flag .act-text {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-flex: 1;
          -ms-flex: 1 1 auto;
          flex: 1 1 auto;
          color: #FEFEFE;
          font-weight: 700;
          font-size: 12px; }
          .header-bottom-block .header-bottom .lang .flag .act-text .strel {
            width: 6px;
            height: 6px;
            border-top: 2px solid white;
            border-left: 2px solid white;
            -webkit-transform: rotate(-135deg);
            -ms-transform: rotate(-135deg);
            transform: rotate(-135deg);
            -webkit-transition: all 0.2s linear 0s;
            -o-transition: all 0.2s linear 0s;
            transition: all 0.2s linear 0s; }
          .header-bottom-block .header-bottom .lang .flag .act-text .strel.active {
            display: block;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            -webkit-transition: all 0.2s linear 0s;
            -o-transition: all 0.2s linear 0s;
            transition: all 0.2s linear 0s; }
      .header-bottom-block .header-bottom .lang .flag-menu {
        display: none;
        position: absolute;
        top: 40px;
        right: -15px;
        width: 120px;
        margin-bottom: -30px;
        background: #1B1B1B;
        -webkit-box-shadow: 0 0 20px black;
        box-shadow: 0 0 20px black; }
        .header-bottom-block .header-bottom .lang .flag-menu .flag__item {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: start;
          -ms-flex-pack: start;
          justify-content: flex-start;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          margin: 20px 12px;
          width: 100%;
          cursor: pointer; }
          .header-bottom-block .header-bottom .lang .flag-menu .flag__item img {
            height: 28px;
            width: 28px;
            border-radius: 50%;
            margin-right: 18px; }
          .header-bottom-block .header-bottom .lang .flag-menu .flag__item .flag-text {
            color: #E7E7E7; }
    .header-bottom-block .header-bottom .profile-bottom .profile {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 30px;
      width: 75px;
      margin-left: 3px;
      font-size: 0; }
      .header-bottom-block .header-bottom .profile-bottom .profile .profile-item {
        height: 100%;
        width: 30px;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border: 1px solid #00C36B;
        border-radius: 3px;
        padding: 0 0;
        -webkit-transition: all 0.2s linear 0s;
        -o-transition: all 0.2s linear 0s;
        transition: all 0.2s linear 0s;
        cursor: pointer; }
        .header-bottom-block .header-bottom .profile-bottom .profile .profile-item img {
          display: block; }
      .header-bottom-block .header-bottom .profile-bottom .profile .log {
        color: #00C36B;
        background: #232425; }
      .header-bottom-block .header-bottom .profile-bottom .profile .reg {
        margin-left: 5px;
        color: #1B1B1B; }
    .header-bottom-block .header-bottom .swipe-container {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      min-width: 0;
      overflow: hidden;
      -ms-touch-action: none;
      touch-action: none;
      height: 40px;
      background: #232425;
      border-radius: 5px;
      cursor: pointer; }
    .header-bottom-block .header-bottom .swiper-wrapper {
      -webkit-transition-timing-function: linear;
      -o-transition-timing-function: linear;
      transition-timing-function: linear; }
    .header-bottom-block .header-bottom .swiper-slide {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: auto; }
      .header-bottom-block .header-bottom .swiper-slide .name {
        color: #E5E6E6;
        font-size: 16px;
        font-weight: 700;
        margin-right: 5px; }
      .header-bottom-block .header-bottom .swiper-slide .course {
        color: #00CE72; }
      .header-bottom-block .header-bottom .swiper-slide .red {
        color: red; }

@media (max-width: 1000px) {
  .header-bottom-block .content {
    padding: 0; }
  .header-bottom-block .header-bottom {
    padding: 0; } }

/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden; }

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) сам список */
/* Активная точка */
/* Элемент точки */
.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: #e0e0e0;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001; }

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  -webkit-animation: preloader-rotate 2s infinite linear;
  animation: preloader-rotate 2s infinite linear; }

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #337ab7;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  -webkit-animation: preloader-bounce 2s infinite ease-in-out;
  animation: preloader-bounce 2s infinite ease-in-out; }

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1s;
  animation-delay: -1s; }

@-webkit-keyframes preloader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes preloader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes preloader-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes preloader-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

.loaded_hiding .preloader {
  -webkit-transition: 50s opacity;
  -o-transition: 50s opacity;
  transition: 50s opacity;
  opacity: 0; }

.loaded .preloader {
  display: none; }

.ibg {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative; }

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden; }

body {
  font-family: Arial;
  padding-top: 115px; }

@media (max-width: 1000px) {
  body {
    padding-top: 85px; } }

body.active {
  overflow: hidden; }

.fade {
  position: fixed;
  top: 45px;
  height: 100%;
  width: 100%;
  background: #000;
  opacity: 0;
  z-index: -1;
  -webkit-transition: all 0.5s linear 0s;
  -o-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s; }

@media (min-width: 0) {
  .fade.active {
    opacity: 0.4;
    z-index: 2; } }

@media (min-width: 1000px) {
  .fade {
    opacity: 0 !important; } }

.content {
  max-width: 1300px;
  padding: 0 30px;
  margin: 0 auto; }

.contentS {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1300px;
  padding: 0 30px;
  margin: 0 auto;
  height: 100%;
  padding-bottom: 60px;
  position: relative; }

@media (max-width: 1000px) {
  .contentS {
    padding-top: 20px;
    padding-bottom: 45px; } }

@media (max-width: 500px) {
  .content {
    padding: 0 15px; } }

.swiper-containert {
  width: 100%;
  height: 580px;
  overflow: hidden;
  position: relative; }
  .swiper-containert .swiper-pagination {
    display: inline-block !important;
    left: 50% !important;
    bottom: 20px !important;
    width: auto !important;
    padding: 6px 10px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background: #47474877;
    border-radius: 15px; }
    .swiper-containert .swiper-pagination .swiper-pagination-bullet {
      border: 1px solid #E8E8E8;
      background: transparent;
      height: 10px;
      width: 10px;
      margin: 0 6px !important;
      opacity: 1 !important;
      -webkit-transition: all 0.1s linear 0s;
      -o-transition: all 0.1s linear 0s;
      transition: all 0.1s linear 0s; }
    .swiper-containert .swiper-pagination .swiper-pagination-bullet-active {
      background: #fff !important;
      -webkit-transition: all 0.5s linear 0s;
      -o-transition: all 0.5s linear 0s;
      transition: all 0.5s linear 0s; }
    .swiper-containert .swiper-pagination .swiper-pagination-bullet:hover {
      -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
      transform: scale(1.5); }
  .swiper-containert .swiper-button-prev {
    color: white !important; }
  .swiper-containert .swiper-button-next {
    color: white !important; }
  @media (max-width: 1000px) {
    .swiper-containert .swiper-pagination {
      display: none !important; } }
  .swiper-containert .slider_row {
    width: 100%;
    height: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  @media (max-width: 1000px) {
    .swiper-containert .slider_row {
      width: 100%;
      height: 100%; } }
  .swiper-containert .column-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%; }
    .swiper-containert .column-1 .h2 {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-bottom: 15px; }
      .swiper-containert .column-1 .h2 h2 {
        font-size: 40px;
        line-height: 40px;
        color: #fff;
        margin-bottom: 10px; }
      .swiper-containert .column-1 .h2 p {
        margin-bottom: 30px;
        line-height: 30px;
        font-size: 26px;
        color: white; }
    .swiper-containert .column-1 .button button {
      padding: 20px 80px;
      color: #1F1E1E;
      font-weight: 700;
      font-size: 20px;
      border-radius: 5px;
      background: #00C46B;
      -webkit-transition: all 0.3s linear 0s;
      -o-transition: all 0.3s linear 0s;
      transition: all 0.3s linear 0s;
      z-index: 10 !important; }
    .swiper-containert .column-1 .button button:hover {
      opacity: 0.8; }
    .swiper-containert .column-1 .button .blur-block {
      padding: 25px 30px;
      margin-bottom: 25px;
      background: rgba(255, 255, 255, 0.486);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      border: 2px solid #fff;
      border-radius: 10px;
      color: white;
      text-shadow: 1px 1px 1px #000; }
      .swiper-containert .column-1 .button .blur-block .blur__name {
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 700; }
      .swiper-containert .column-1 .button .blur-block .blur__cource {
        margin-bottom: 10px;
        font-size: 35px;
        font-weight: 700; }
      .swiper-containert .column-1 .button .blur-block .blur__procent {
        font-size: 25px; }
  @media (max-width: 1000px) {
    .swiper-containert .column-1 {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      padding-bottom: 70px; }
      .swiper-containert .column-1 .h2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        .swiper-containert .column-1 .h2 h2 {
          margin-bottom: 10px; }
      .swiper-containert .column-1 .button {
        position: absolute;
        bottom: 15px;
        width: calc(100% - 60px);
        z-index: 10; }
        .swiper-containert .column-1 .button button {
          padding: 20px 0;
          width: 100%;
          color: #1F1E1E;
          font-weight: 700;
          font-size: 20px;
          border-radius: 5px;
          background: #00C46B;
          -webkit-transition: all 0.3s linear 0s;
          -o-transition: all 0.3s linear 0s;
          transition: all 0.3s linear 0s; } }
  @media (max-width: 600px) {
    .swiper-containert .column-1 .h2 {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .swiper-containert .column-1 .h2 h2 {
        font-size: 40px;
        line-height: 40px;
        color: #fff; }
      .swiper-containert .column-1 .h2 p {
        margin-bottom: 30px;
        line-height: 30px;
        font-size: 26px;
        color: white; } }
  .swiper-containert .column-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height: 100%; }
    .swiper-containert .column-2 .blur-block {
      padding: 35px 85px;
      background: rgba(255, 255, 255, 0.486);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      border: 2px solid #fff;
      border-radius: 10px;
      color: white;
      text-shadow: 1px 1px 1px #000; }
      .swiper-containert .column-2 .blur-block .blur__name {
        margin-bottom: 15px;
        font-size: 20px;
        font-weight: 700; }
      .swiper-containert .column-2 .blur-block .blur__cource {
        margin-bottom: 20px;
        font-size: 40px;
        font-weight: 700; }
      .swiper-containert .column-2 .blur-block .blur__procent {
        font-size: 25px; }
  @media (max-width: 1000px) {
    .swiper-containert .column-2 {
      display: none; } }
  .swiper-containert .bitcoin {
    background: url("../img/main-slider/back2.jpg");
    background-size: cover;
    background-position: center center; }
    .swiper-containert .bitcoin .column-2 {
      background: url("../img/main-slider/bitcoin.png");
      background-repeat: no-repeat;
      background-position: center right; }
    .swiper-containert .bitcoin .lox {
      display: none; }
    @media (max-width: 1000px) {
      .swiper-containert .bitcoin .lox {
        display: block; } }
  @media (max-width: 1000px) {
    .swiper-containert .bitcoin .slider_row {
      background: url("../img/main-slider/bitcoin.png");
      background-repeat: no-repeat;
      background-position: bottom 35px right;
      background-size: 190px; } }
  .swiper-containert .win {
    background: url("../img/main-slider/back1.jpg");
    background-size: cover;
    background-position: center; }
    .swiper-containert .win .win-text {
      font-size: 70px;
      font-weight: 700;
      color: white;
      white-space: nowrap;
      margin-top: 15px;
      margin-bottom: 20px; }
      .swiper-containert .win .win-text span {
        color: #00C46B; }
    @media (max-width: 600px) {
      .swiper-containert .win .win-text {
        margin-top: 15px;
        font-size: 35px;
        font-weight: 700;
        color: white; }
        .swiper-containert .win .win-text span {
          color: #04dd7b; } }
  .swiper-containert .doge {
    background: url("../img/main-slider/back2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
    .swiper-containert .doge img {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 500px;
      z-index: 2; }
    @media (max-width: 1200px) {
      .swiper-containert .doge img {
        right: -10%;
        width: 50%;
        height: auto; } }
    @media (max-width: 700px) {
      .swiper-containert .doge img {
        right: -20%;
        width: 60%;
        height: auto; } }
    @media (max-width: 500px) {
      .swiper-containert .doge img {
        right: -20%;
        width: 80%;
        height: auto; } }
  .swiper-containert .trade {
    background: -webkit-gradient(linear, left top, right bottom, from(#125235), to(#1B1B1B));
    background: -webkit-linear-gradient(top left, #125235, #1B1B1B);
    background: -o-linear-gradient(top left, #125235, #1B1B1B);
    background: linear-gradient(to bottom right, #125235, #1B1B1B); }
    .swiper-containert .trade .bg {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: -1; }
    .swiper-containert .trade .slider_row {
      width: 100%;
      height: 460px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .swiper-containert .trade .slider_row .column-1 {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start; }
    .swiper-containert .trade .downaload {
      padding: 0 5px;
      margin-top: 20px;
      border-radius: 10px;
      background: white; }
      .swiper-containert .trade .downaload img {
        width: 160px; }
  @media (max-width: 1000px) {
    .swiper-containert .trade {
      padding-top: 40px; }
      .swiper-containert .trade .bg {
        width: 320px;
        bottom: 60px;
        opacity: 0.8; }
      .swiper-containert .trade .downaload {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 0 auto;
        padding: 0 5px;
        margin-bottom: 35px;
        border-radius: 10px;
        background: white; }
        .swiper-containert .trade .downaload img {
          width: 160px; }
      .swiper-containert .trade .h2 {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        .swiper-containert .trade .h2 h2 {
          font-size: 30px;
          line-height: 40px;
          color: #fff; }
        .swiper-containert .trade .h2 p {
          margin-bottom: 10px;
          line-height: 20px;
          font-size: 20px;
          color: white; } }
  .swiper-containert .gold {
    background: url("../img/main-slider/back3.jpg");
    background-size: cover;
    background-position: center;
    padding-bottom: 80px;
    position: relative; }
    .swiper-containert .gold .contentS {
      padding-bottom: 0; }
    .swiper-containert .gold img {
      position: absolute;
      bottom: 0;
      right: 100px; }
    .swiper-containert .gold .gold-center {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 100%;
      width: 65%;
      padding-top: 60px;
      margin: 0 auto; }
      .swiper-containert .gold .gold-center .h2 {
        font-size: 35px;
        line-height: 60px;
        color: #fff;
        text-align: center; }
      .swiper-containert .gold .gold-center .button {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .swiper-containert .gold .gold-center .button .p {
          width: 80%;
          margin: 0 auto 30px auto;
          line-height: 40px;
          font-size: 26px;
          color: white;
          text-align: center; }
        .swiper-containert .gold .gold-center .button .buttons {
          display: -webkit-inline-box;
          display: -ms-inline-flexbox;
          display: inline-flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column; }
        .swiper-containert .gold .gold-center .button button {
          padding: 20px 80px;
          margin: 0 auto;
          display: block;
          color: #1F1E1E;
          font-weight: 700;
          font-size: 20px;
          border-radius: 5px;
          background: #00C46B;
          -webkit-transition: all 0.3s linear 0s;
          -o-transition: all 0.3s linear 0s;
          transition: all 0.3s linear 0s;
          z-index: 2; }
        .swiper-containert .gold .gold-center .button .psevdo-button {
          height: 63px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          margin-top: -5px;
          background: #323232;
          border-radius: 5px;
          color: white;
          font-size: 22px; }
          .swiper-containert .gold .gold-center .button .psevdo-button .chest {
            width: 10px;
            height: 10px;
            margin-top: -2px;
            margin-left: 10px;
            border-top: 3px solid white;
            border-right: 3px solid white;
            border-radius: 1px;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
        .swiper-containert .gold .gold-center .button button:hover {
          opacity: 0.8; }
    @media (max-width: 1000px) {
      .swiper-containert .gold img {
        position: absolute;
        bottom: 0;
        right: 100px;
        opacity: 0.5;
        z-index: -1; }
      .swiper-containert .gold .gold-center {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100%;
        width: 100%;
        padding-top: 0;
        margin: 0 auto; }
        .swiper-containert .gold .gold-center .h2 {
          font-size: 35px;
          line-height: 35px;
          color: #fff;
          margin-bottom: 20px;
          text-align: center; }
        .swiper-containert .gold .gold-center .button {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          .swiper-containert .gold .gold-center .button .p {
            line-height: 25px;
            font-size: 20px;
            color: white;
            text-align: left; }
          .swiper-containert .gold .gold-center .button .buttons {
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column; }
          .swiper-containert .gold .gold-center .button button {
            padding: 20px 80px;
            margin: 0 auto;
            display: block;
            color: #1F1E1E;
            font-weight: 700;
            font-size: 20px;
            border-radius: 5px;
            background: #00C46B;
            -webkit-transition: all 0.3s linear 0s;
            -o-transition: all 0.3s linear 0s;
            transition: all 0.3s linear 0s;
            z-index: 2; }
          .swiper-containert .gold .gold-center .button .psevdo-button {
            height: 63px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            margin-top: -5px;
            background: #323232;
            border-radius: 5px;
            color: white;
            font-size: 22px; }
            .swiper-containert .gold .gold-center .button .psevdo-button .chest {
              width: 10px;
              height: 10px;
              margin-top: -2px;
              margin-left: 10px;
              border-top: 3px solid white;
              border-right: 3px solid white;
              border-radius: 1px;
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
          .swiper-containert .gold .gold-center .button button:hover {
            opacity: 0.8; } }
    @media (max-width: 500px) {
      .swiper-containert .gold .gold-center {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100%;
        width: 100%;
        padding-top: 0;
        margin: 0 auto; }
        .swiper-containert .gold .gold-center .h2 {
          font-size: 24px;
          line-height: 35px;
          color: #fff;
          text-align: left; }
        .swiper-containert .gold .gold-center .button {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          .swiper-containert .gold .gold-center .button .p {
            font-size: 18px;
            text-align: left;
            margin: 0 0 15px 0;
            text-align: left;
            width: 100%;
            padding: 0 10px; }
          .swiper-containert .gold .gold-center .button .buttons {
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            width: 100%; }
          .swiper-containert .gold .gold-center .button button {
            padding: 15px 0;
            width: 100%;
            margin: 0 auto;
            display: block;
            color: #1F1E1E;
            font-weight: 700;
            font-size: 16px;
            border-radius: 5px;
            background: #00C46B;
            -webkit-transition: all 0.3s linear 0s;
            -o-transition: all 0.3s linear 0s;
            transition: all 0.3s linear 0s;
            z-index: 2; }
          .swiper-containert .gold .gold-center .button .psevdo-button {
            height: 63px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            margin-top: -5px;
            background: #323232;
            border-radius: 5px;
            color: white;
            font-size: 15px; }
            .swiper-containert .gold .gold-center .button .psevdo-button .chest {
              width: 10px;
              height: 10px;
              margin-top: -2px;
              margin-left: 10px;
              border-top: 3px solid white;
              border-right: 3px solid white;
              border-radius: 1px;
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
          .swiper-containert .gold .gold-center .button button:hover {
            opacity: 0.8; } }
  @media (max-width: 500px) {
    .swiper-containert .gold {
      padding-bottom: 20px; } }
  .swiper-containert .blur-tel-2 .blur-block {
    padding: 20px 30px;
    margin-bottom: 25px;
    background: rgba(255, 255, 255, 0.486);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 2px solid #fff;
    border-radius: 10px;
    color: white;
    text-shadow: 1px 1px 1px #000;
    z-index: -1; }
    .swiper-containert .blur-tel-2 .blur-block .blur__name {
      margin-bottom: 10px;
      font-size: 16px;
      font-weight: 700; }
    .swiper-containert .blur-tel-2 .blur-block .blur__cource {
      margin-bottom: 10px;
      font-size: 35px;
      font-weight: 700; }
    .swiper-containert .blur-tel-2 .blur-block .blur__procent {
      font-size: 25px; }

@media (max-width: 1000px) {
  .swiper-containert {
    height: 450px; } }
